* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #151D21;
    background-image: url('../images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 500%;
    margin-top: 2%;
    margin-right: auto;
}

li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 150%;
    color: #ecf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: black;
    box-shadow: 0px 3px 30px;
}

.logo {
    cursor: pointer;
    size: 200%;
}

.subtext {
    font-weight: 400;
    size: 400%;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0, 20px;
}

.nav__links li a {
    padding: 0px 20px;
}

.column img {
    max-width: 150px;
    width: 100%;
    border-radius: 10%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}
   
.row {
    text-align: center;
    margin-left: clamp(60px, 6%, 1000px);
    margin-right: clamp(60px, 5%, 1000px);
}

iframe {
    display: block;
    margin: auto;
    margin-top: 1%;
}

@media all and (max-width:1080px) {

    .row{
      margin-left: 10%;
      padding-left: 0;
    }
}